<a href="https://colab.research.google.com/github/palarunava/machine-learning-courses/blob/main/machine-learning-specialization/supervised-ml-regression-classification/C1_W2_Gradient_Descent.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Get the data**

In [1]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("yasserh/housing-prices-dataset")

print("Path to dataset files:", path)

Using Colab cache for faster access to the 'housing-prices-dataset' dataset.
Path to dataset files: /kaggle/input/housing-prices-dataset

In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv(path + "/Housing.csv")

In [4]:
data['mainroad'] = data['mainroad'].map({'yes': 1, 'no': 0})
data['guestroom'] = data['guestroom'].map({'yes': 1, 'no': 0})
data['basement'] = data['basement'].map({'yes': 1, 'no': 0})
data['hotwaterheating'] = data['hotwaterheating'].map({'yes': 1, 'no': 0})
data['airconditioning'] = data['airconditioning'].map({'yes': 1, 'no': 0})
data['prefarea'] = data['prefarea'].map({'yes': 1, 'no': 0})
data['furnishingstatus'] = data['furnishingstatus'].map({'furnished': 2, 'semi-furnished': 1, 'unfurnished': 0})

In [ ]:
data

In [19]:
import math
num_samples = data.shape[0]
train_valid_test_split_ratio = [75, 20, 5] # 75:20:5 split
train_num_samples = math.floor((num_samples / 100) * train_valid_test_split_ratio[0])
valid_num_samples = math.floor((num_samples / 100) * train_valid_test_split_ratio[1])
test_num_samples = num_samples - train_num_samples - valid_num_samples
print(f"Number of training samples: {train_num_samples}")
print(f"Number of validation samples: {valid_num_samples}")
print(f"Number of testing samples: {test_num_samples}")

Number of training samples: 408
Number of validation samples: 109
Number of testing samples: 28

In [21]:
data_train = data.iloc[:train_num_samples, :]
data_valid = data.iloc[train_num_samples:(train_num_samples + valid_num_samples), :]
data_test = data.iloc[(train_num_samples + valid_num_samples):, :]

In [6]:
X_train = data.iloc[:, 1:]
Y_train = data.iloc[:, 0]
assert X_train.shape[0] == Y_train.shape[0]
print("Information about the data:")
print(f"Number of training samples: {X_train.shape[0]}")
print(f"Number of features: {X_train.shape[1]}")
print("\n")
X_train.info()

Information about the data:
Number of training samples: 545
Number of features: 12


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   area              545 non-null    int64
 1   bedrooms          545 non-null    int64
 2   bathrooms         545 non-null    int64
 3   stories           545 non-null    int64
 4   mainroad          545 non-null    int64
 5   guestroom         545 non-null    int64
 6   basement          545 non-null    int64
 7   hotwaterheating   545 non-null    int64
 8   airconditioning   545 non-null    int64
 9   parking           545 non-null    int64
 10  prefarea          545 non-null    int64
 11  furnishingstatus  545 non-null    int64
dtypes: int64(12)
memory usage: 51.2 KB

Normalize the data - Z score

In [7]:
X_norm = (X_train - X_train.mean()) / X_train.std()
#X_norm.to_numpy()
X_norm

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,1.045766,1.402131,1.420507,1.376952,0.405251,-0.464888,-0.733865,-0.219063,1.471267,1.516299,1.803284,1.404995
1,1.755397,1.402131,5.400847,2.529700,0.405251,-0.464888,-0.733865,-0.219063,1.471267,2.676950,-0.553526,1.404995
2,2.216196,0.047235,1.420507,0.224204,0.405251,-0.464888,1.360148,-0.219063,-0.678439,1.516299,1.803284,0.091578
3,1.082630,1.402131,1.420507,0.224204,0.405251,-0.464888,1.360148,-0.219063,1.471267,2.676950,1.803284,1.404995
4,1.045766,1.402131,-0.569663,0.224204,0.405251,2.147110,1.360148,-0.219063,1.471267,1.516299,-0.553526,1.404995
...,...,...,...,...,...,...,...,...,...,...,...,...
540,-0.990968,-1.307661,-0.569663,-0.928544,0.405251,-0.464888,1.360148,-0.219063,-0.678439,1.516299,-0.553526,-1.221840
541,-1.267448,0.047235,-0.569663,-0.928544,-2.463081,-0.464888,-0.733865,-0.219063,-0.678439,-0.805002,-0.553526,0.091578
542,-0.705273,-1.307661,-0.569663,-0.928544,0.405251,-0.464888,-0.733865,-0.219063,-0.678439,-0.805002,-0.553526,-1.221840
543,-1.032440,0.047235,-0.569663,-0.928544,-2.463081,-0.464888,-0.733865,-0.219063,-0.678439,-0.805002,-0.553526,1.404995
544,-0.599289,0.047235,-0.569663,0.224204,0.405251,-0.464888,-0.733865,-0.219063,-0.678439,-0.805002,-0.553526,-1.221840

In [140]:
Y_norm = (Y_train - Y_train.mean()) / Y_train.std()
Y_norm

0      4.562174
1      4.000809
2      4.000809
3      3.982096
4      3.551716
         ...
540   -1.575421
541   -1.603676
542   -1.612845
543   -1.612845
544   -1.612845
Name: price, Length: 545, dtype: float64

In [115]:
w = np.zeros(X_norm.shape[1])
b = 0.
print(f"Initial weights: {w}")
print(f"Initial bias: {b}")

Initial weights: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Initial bias: 0.0

In [107]:
Y_predict = X_norm.dot(w) + b
Y_error = Y_predict - Y_norm
cost = 1/(2*X_norm.shape[0]) * (Y_error ** 2).sum()
dj_dw = Y_error.dot(X_norm) / X_norm.shape[0]
dj_db = np.sum(Y_error) / X_norm.shape[0]
w = w - 0.1 * dj_dw
b = b - 0.1 * dj_db
print(f'Interation: {iter + 1} Cost: {cost}')

Interation: 10000 Cost: 13106916364659.268

In [162]:
w = np.zeros(X_norm.shape[1])
b = 0
#w = np.random.random(X_norm.shape[1])
#b = np.random.random()
print(f"Initial weights: {w}")
print(f"Initial bias: {b}")
iterations = 2000
learning_rate = 0.03
for iter in range(iterations):
  Y_predict = X_norm.dot(w) + b
  Y_error = Y_predict - Y_norm
  cost = (Y_error ** 2).sum() / (2*X_norm.shape[0])
  dj_dw = Y_error.dot(X_norm) / X_norm.shape[0]
  dj_db = np.sum(Y_error) / X_norm.shape[0]
  w -= learning_rate * dj_dw
  b -= learning_rate * dj_db
  if (iter + 1) % 10 == 0:
    print(f'Interation: {iter + 1} Cost: {cost}')
  #print(f'dj_dw: {dj_dw}')
  #print(f'dj_db: {dj_db}')

print(f'w: {w}')
print(f'b: {b}')

Initial weights: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Initial bias: 0
Interation: 10 Cost: 0.25245509489422197
Interation: 20 Cost: 0.1851101110234203
Interation: 30 Cost: 0.16884990717573184
Interation: 40 Cost: 0.16417155190352528
Interation: 50 Cost: 0.16237639259761952
Interation: 60 Cost: 0.16145861954092652
Interation: 70 Cost: 0.16089951303304437
Interation: 80 Cost: 0.1605309276371112
Interation: 90 Cost: 0.16027969333897663
Interation: 100 Cost: 0.16010561487743502
Interation: 110 Cost: 0.15998372157015792
Interation: 120 Cost: 0.1598976467416952
Interation: 130 Cost: 0.15983640212553002
Interation: 140 Cost: 0.15979251252761778
Interation: 150 Cost: 0.1597608449901379
Interation: 160 Cost: 0.15973784684223324
Interation: 170 Cost: 0.15972104099216503
Interation: 180 Cost: 0.1597086879794465
Interation: 190 Cost: 0.15969955781811054
Interation: 200 Cost: 0.15969277484725558
Interation: 210 Cost: 0.15968771150812883
Interation: 220 Cost: 0.159683915135905
Interation: 230 Cost: 0.15968105717377434
Interation: 240 Cost: 0.15967889771158875
Interation: 250 Cost: 0.15967726056358938
Interation: 260 Cost: 0.15967601563940903
Interation: 270 Cost: 0.15967506639381196
Interation: 280 Cost: 0.15967434083531307
Interation: 290 Cost: 0.15967378504437418
Interation: 300 Cost: 0.1596733584723933
Interation: 310 Cost: 0.15967303051224538
Interation: 320 Cost: 0.15967277798236315
Interation: 330 Cost: 0.15967258327112008
Interation: 340 Cost: 0.15967243296128966
Interation: 350 Cost: 0.15967231680553148
Interation: 360 Cost: 0.15967222695994734
Interation: 370 Cost: 0.15967215740835022
Interation: 380 Cost: 0.1596721035281594
Interation: 390 Cost: 0.15967206176195345
Interation: 400 Cost: 0.1596720293681843
Interation: 410 Cost: 0.15967200423143396
Interation: 420 Cost: 0.15967198471762153
Interation: 430 Cost: 0.15967196956325674
Interation: 440 Cost: 0.15967195779055907
Interation: 450 Cost: 0.15967194864228096
Interation: 460 Cost: 0.1596719415315796
Interation: 470 Cost: 0.15967193600340515
Interation: 480 Cost: 0.15967193170472235
Interation: 490 Cost: 0.15967192836151695
Interation: 500 Cost: 0.15967192576102457
Interation: 510 Cost: 0.15967192373798192
Interation: 520 Cost: 0.15967192216398315
Interation: 530 Cost: 0.15967192093923296
Interation: 540 Cost: 0.1596719199861537
Interation: 550 Cost: 0.1596719192444264
Interation: 560 Cost: 0.15967191866714303
Interation: 570 Cost: 0.15967191821781887
Interation: 580 Cost: 0.15967191786807244
Interation: 590 Cost: 0.15967191759582317
Interation: 600 Cost: 0.15967191738389053
Interation: 610 Cost: 0.15967191721890558
Interation: 620 Cost: 0.1596719170904644
Interation: 630 Cost: 0.15967191699046993
Interation: 640 Cost: 0.15967191691261998
Interation: 650 Cost: 0.15967191685200918
Interation: 660 Cost: 0.15967191680481924
Interation: 670 Cost: 0.15967191676807782
Interation: 680 Cost: 0.15967191673947106
Interation: 690 Cost: 0.15967191671719758
Interation: 700 Cost: 0.15967191669985514
Interation: 710 Cost: 0.15967191668635192
Interation: 720 Cost: 0.15967191667583788
Interation: 730 Cost: 0.15967191666765132
Interation: 740 Cost: 0.15967191666127692
Interation: 750 Cost: 0.15967191665631347
Interation: 760 Cost: 0.15967191665244873
Interation: 770 Cost: 0.15967191664943942
Interation: 780 Cost: 0.1596719166470962
Interation: 790 Cost: 0.15967191664527164
Interation: 800 Cost: 0.15967191664385094
Interation: 810 Cost: 0.1596719166427447
Interation: 820 Cost: 0.15967191664188327
Interation: 830 Cost: 0.15967191664121252
Interation: 840 Cost: 0.15967191664069022
Interation: 850 Cost: 0.15967191664028355
Interation: 860 Cost: 0.15967191663996685
Interation: 870 Cost: 0.1596719166397203
Interation: 880 Cost: 0.1596719166395283
Interation: 890 Cost: 0.15967191663937874
Interation: 900 Cost: 0.1596719166392623
Interation: 910 Cost: 0.15967191663917168
Interation: 920 Cost: 0.1596719166391011
Interation: 930 Cost: 0.15967191663904612
Interation: 940 Cost: 0.15967191663900332
Interation: 950 Cost: 0.15967191663896999
Interation: 960 Cost: 0.15967191663894403
Interation: 970 Cost: 0.1596719166389238
Interation: 980 Cost: 0.1596719166389081
Interation: 990 Cost: 0.15967191663889582
Interation: 1000 Cost: 0.15967191663888627
Interation: 1010 Cost: 0.15967191663887886
Interation: 1020 Cost: 0.15967191663887306
Interation: 1030 Cost: 0.15967191663886857
Interation: 1040 Cost: 0.1596719166388651
Interation: 1050 Cost: 0.15967191663886232
Interation: 1060 Cost: 0.15967191663886018
Interation: 1070 Cost: 0.15967191663885857
Interation: 1080 Cost: 0.15967191663885724
Interation: 1090 Cost: 0.15967191663885627
Interation: 1100 Cost: 0.1596719166388555
Interation: 1110 Cost: 0.15967191663885485
Interation: 1120 Cost: 0.15967191663885436
Interation: 1130 Cost: 0.15967191663885402
Interation: 1140 Cost: 0.15967191663885372
Interation: 1150 Cost: 0.1596719166388535
Interation: 1160 Cost: 0.15967191663885333
Interation: 1170 Cost: 0.1596719166388532
Interation: 1180 Cost: 0.15967191663885308
Interation: 1190 Cost: 0.159671916638853
Interation: 1200 Cost: 0.15967191663885294
Interation: 1210 Cost: 0.15967191663885288
Interation: 1220 Cost: 0.15967191663885288
Interation: 1230 Cost: 0.15967191663885283
Interation: 1240 Cost: 0.15967191663885277
Interation: 1250 Cost: 0.15967191663885277
Interation: 1260 Cost: 0.15967191663885277
Interation: 1270 Cost: 0.15967191663885275
Interation: 1280 Cost: 0.15967191663885272
Interation: 1290 Cost: 0.15967191663885275
Interation: 1300 Cost: 0.15967191663885272
Interation: 1310 Cost: 0.15967191663885275
Interation: 1320 Cost: 0.15967191663885275
Interation: 1330 Cost: 0.15967191663885272
Interation: 1340 Cost: 0.15967191663885272
Interation: 1350 Cost: 0.15967191663885272
Interation: 1360 Cost: 0.15967191663885272
Interation: 1370 Cost: 0.15967191663885272
Interation: 1380 Cost: 0.1596719166388527
Interation: 1390 Cost: 0.15967191663885272
Interation: 1400 Cost: 0.15967191663885272
Interation: 1410 Cost: 0.15967191663885272
Interation: 1420 Cost: 0.1596719166388527
Interation: 1430 Cost: 0.15967191663885272
Interation: 1440 Cost: 0.15967191663885272
Interation: 1450 Cost: 0.15967191663885272
Interation: 1460 Cost: 0.15967191663885272
Interation: 1470 Cost: 0.15967191663885272
Interation: 1480 Cost: 0.15967191663885272
Interation: 1490 Cost: 0.15967191663885272
Interation: 1500 Cost: 0.15967191663885272
Interation: 1510 Cost: 0.1596719166388527
Interation: 1520 Cost: 0.15967191663885272
Interation: 1530 Cost: 0.15967191663885272
Interation: 1540 Cost: 0.15967191663885272
Interation: 1550 Cost: 0.15967191663885275
Interation: 1560 Cost: 0.15967191663885272
Interation: 1570 Cost: 0.15967191663885272
Interation: 1580 Cost: 0.15967191663885272
Interation: 1590 Cost: 0.15967191663885272
Interation: 1600 Cost: 0.15967191663885272
Interation: 1610 Cost: 0.15967191663885272
Interation: 1620 Cost: 0.15967191663885272
Interation: 1630 Cost: 0.15967191663885272
Interation: 1640 Cost: 0.15967191663885272
Interation: 1650 Cost: 0.15967191663885272
Interation: 1660 Cost: 0.15967191663885272
Interation: 1670 Cost: 0.1596719166388527
Interation: 1680 Cost: 0.1596719166388527
Interation: 1690 Cost: 0.15967191663885272
Interation: 1700 Cost: 0.15967191663885272
Interation: 1710 Cost: 0.15967191663885272
Interation: 1720 Cost: 0.1596719166388527
Interation: 1730 Cost: 0.15967191663885272
Interation: 1740 Cost: 0.15967191663885272
Interation: 1750 Cost: 0.15967191663885272
Interation: 1760 Cost: 0.15967191663885272
Interation: 1770 Cost: 0.15967191663885272
Interation: 1780 Cost: 0.15967191663885272
Interation: 1790 Cost: 0.15967191663885272
Interation: 1800 Cost: 0.1596719166388527
Interation: 1810 Cost: 0.15967191663885272
Interation: 1820 Cost: 0.15967191663885272
Interation: 1830 Cost: 0.15967191663885272
Interation: 1840 Cost: 0.15967191663885272
Interation: 1850 Cost: 0.15967191663885272
Interation: 1860 Cost: 0.15967191663885272
Interation: 1870 Cost: 0.15967191663885272
Interation: 1880 Cost: 0.15967191663885272
Interation: 1890 Cost: 0.15967191663885272
Interation: 1900 Cost: 0.1596719166388527
Interation: 1910 Cost: 0.15967191663885272
Interation: 1920 Cost: 0.15967191663885272
Interation: 1930 Cost: 0.15967191663885272
Interation: 1940 Cost: 0.15967191663885272
Interation: 1950 Cost: 0.1596719166388527
Interation: 1960 Cost: 0.15967191663885272
Interation: 1970 Cost: 0.15967191663885272
Interation: 1980 Cost: 0.15967191663885272
Interation: 1990 Cost: 0.15967191663885272
Interation: 2000 Cost: 0.15967191663885272
w: area                0.282988
bedrooms            0.047144
bathrooms           0.265652
stories             0.208887
mainroad            0.078863
guestroom           0.061002
basement            0.091384
hotwaterheating     0.097727
airconditioning     0.212299
parking             0.128878
prefarea            0.146782
furnishingstatus    0.086779
dtype: float64
b: 3.328468998890898e-16

In [66]:
print(type(Y_error))
print(X_norm.shape)
dj_dw = Y_error.dot(X_norm)/X_norm.shape[0]
print(dj_dw.shape)
print(dj_dw.to_numpy())

<class 'pandas.core.series.Series'>
(545, 12)
(12,)
[-1000711.12691782  -684247.13747121  -966261.09057547  -785473.19197208
  -554311.7407424   -477052.72642098  -349236.09304122  -173767.70847778
  -845668.72516859  -717665.86968431  -615696.26380535  -568917.28955954]

In [40]:
def compute_gradient(X, y, w, b):
    #print(f'{X}\n')
    #print(f'{y}\n')
    #print(f'{w}\n')
    #print(f'{b}\n')
    """
    Computes the gradient for linear regression
    Args:
      X (ndarray (m,n)): Data, m examples with n features
      y (ndarray (m,)) : target values
      w (ndarray (n,)) : model parameters
      b (scalar)       : model parameter

    Returns:
      dj_dw (ndarray (n,)): The gradient of the cost w.r.t. the parameters w.
      dj_db (scalar):       The gradient of the cost w.r.t. the parameter b.
    """
    m,n = X.shape           #(number of examples, number of features)
    dj_dw = np.zeros((n,))
    #print(f'{dj_dw}\n')
    dj_db = 0.

    for i in range(m):
        err = (np.dot(X[i], w) + b) - y[i]
        for j in range(n):
            #print(f'Gradient')
            #print(f'{dj_dw[j]}\n')
            #print(f'{err}\n')
            #print(f'{X[i, j]}\n')
            dj_dw[j] = dj_dw[j] + err * X[i, j]
        dj_db = dj_db + err
    dj_dw = dj_dw / m
    dj_db = dj_db / m

    return dj_db, dj_dw

In [41]:
print(X_norm.shape)
print(Y_train.shape)
print(w_init.shape)
print(b_init)
dj_db, dj_dw = compute_gradient(X_norm.to_numpy(), Y_train.to_numpy(), w_init, b_init)
print(f'dj_db: {dj_db}')
print(f'dj_dw: {dj_dw}')

(545, 12)
(545,)
(12,)
0.0
dj_db: -4766729.247706422
dj_dw: [-1000711.12691782  -684247.1374712   -966261.09057547  -785473.19197208
  -554311.7407424   -477052.72642098  -349236.09304122  -173767.70847778
  -845668.72516859  -717665.86968431  -615696.26380535  -568917.28955954]